.background_red_ong {
  background-color: #db5752;
}

.background_yellow_ong{
  background-color: #fafa88;
}

.background_blue_ong {
  background-color: #9ac9fb;
}

.color_red_ong {
  color: #db5752;
}



