@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.container {
    /* background-color: red; */
    padding: 20px;
    height: fit-content;
    width: 90%;
    margin: 0 auto;
}

.title {
    margin-top: 120px;
}

.title h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.015em;
    /* color: #000000; */
    color: #db5752;

}

.description {
    margin: 0 auto 80px;
    width: 70%px;
}

.description p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.015em;
    /* color: rgba(0, 0, 0, 0.8); */
    color: #9ac9fb;
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        padding: 5px;
    }
}