.container_view {
  width: 60%;
}

.container_form_title {
  background-color: #db5752;
}

.container_form_img {
  background-color: #fafa88;
}

.background_blue {
  background-color: #9AC9FB;
}

.button_style {
  background-color: white !important;
  color: #18a0fb !important;
  box-sizing: border-box !important;
  border-radius: 6px !important;
  border: 1px solid #18a0fb !important;
  width: 25%;
}

.button_style:hover {
  color: white !important;
  background-color: #18a0fb !important;
}

.background_gray {
  background-color: #adabab86;
}

.color_red {
  color: red;
}

.field {
  border: 1px solid #18a0fb;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 5px rgba(0, 132, 255, 0.6);
}

.color_card {
  background-color: #fafa88;
}

@media only screen and (max-width: 896px) {
  .container_view {
    width: 100% !important;
  }

  .button_style {
    width: 75% !important;
  }
}
