
  
.title_large {
  font-size: 2rem;
  font-weight: 700;
}
  
.subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}
  
.text_disabled {
  color: gray;
}
  
.text_strong {
  font-weight: 600;
}
  
.color_danger {
  color: #dc3545;
}
