.title {
    text-align: center;
    margin-top: 10px;
}

.subtitle {
    text-align: center;
    margin-top: 70px;
}

.news_container{
    width: 100%;
    display: flex;
}

.news {
    width: 25%;
    height: 250px;
    margin: 20px 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

.a {
    display: flex;
    margin: 40px 0;
    width: 100%;
}

.div_info {
    margin-left: 30px;
    align-self: flex-start;
}

.testimonials {
    text-decoration: none;
    margin-right: 20px;
}

.see_more {
    margin: 0 350px;
    text-decoration: none;
    border: 1px solid;
    padding: 5px 25px;
    border-radius: 4px;
}