.color_red_ong {
  color: #db5752;
}

.button_style {
  background-color: white !important;
  color: #18a0fb !important;
  box-sizing: border-box !important;
  border-radius: 6px !important;
  border: 1px solid #18a0fb !important;
  width: 25%;
}

.button_style:hover {
  color: white !important;
  background-color: #18a0fb !important;
}

.background_gray {
  background-color: rgba(189, 189, 189, 0.472);
}

@media only screen and (max-width: 896px) {
  .button_style {
    width: 95%;
  }
}
