.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 20px 0;
  top: 25%;
}

h2 {
  padding: 15px 0;
}

.flex-child {
  display: flex;
  flex-direction: column;
}

.flex-child p {
  font-size: 1.5em;
}

.flex-child img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  border-right: solid 1px black;
  padding-right: 10px;
  margin-right: 20px;
}

.Form-Contact button {
  width: 100%;
}

@media screen and (min-width: 359px) and (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    top: 0;
  }
  .flex-child:first-child {
    border-right: none;
    margin-bottom: 2em;
    border-bottom: solid 1px black;
  }

  .Form-Contact {
    margin-bottom: 100%;
  }
}
