@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.footer {
    border-top: 1.5px solid #000;
    height: 310px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    padding: 12px 0;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
